docker-compose.yml
Dockerfile
html/.env
html/public/images/article/
html/vendor/

html/database/factories/
html/database/seeders/dataDummy.php
html/database/migrations/2023_11_29_165626_add_void_column.php
html/database/migrations/2023_11_20_062853_add_role_and_phone_number.php
html/database/migrations/2023_11_13_014412_create_activedates_table.php
html/database/migrations/2024_01_10_104559_add_gallery_relation.php
html/database/migrations/2023_11_13_014412_create_activedates_table.php
html/database/migrations/2023_11_20_062853_add_role_and_phone_number.php
html/database/migrations/2023_11_29_165626_add_void_column.php
html/database/seeders/UserSeeder.php

html/test.php
